.container1{
    background-image: url("../../../assets/images/4893732.webp")
}
// .container1{
//     background-image: linear-gradient(to bottom, rgba(4, 0, 255, 0.575) , rgb(225, 0, 255));
// }
input{
   border-radius: 20rem;
}
button{
    border-radius: 20rem;
}
