// .container1{
//     background-image: linear-gradient(to bottom, rgba(4, 0, 255, 0.575) , rgb(225, 0, 255));
// }
.container1{
    background-image: url("../../../assets/images/4893732.webp")
}
input,textarea,select{
    border-radius: 10rem;
 }
 button{
     border-radius: 10rem;
 }
 